# Open this link for DataStax Cassandra
http://surl.li/bwzmt

After we have setup a cassandra cluster on the site of the astra db.
now, just download the Secure Connect Bundle
after that put the downloaded zip folder in the same file where our jupyternotebook file is there.

In [1]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\users\er. aadil ji\appdata\local\programs\python\python39\lib\site-packages (3.25.0)
Requirement already satisfied: six>=1.9 in c:\users\er. aadil ji\appdata\local\programs\python\python39\lib\site-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: geomet<0.3,>=0.1 in c:\users\er. aadil ji\appdata\local\programs\python\python39\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in c:\users\er. aadil ji\appdata\local\programs\python\python39\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.0.3)
Requirement already satisfied: colorama in c:\users\er. aadil ji\appdata\local\programs\python\python39\lib\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.6)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import cassandra
print(cassandra.__version__)

3.25.0

# connection code snippet:-

from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
         'secure_connect_bundle': '<</PATH/TO/>>secure-connect-test-db-env.zip'
}
auth_provider = PlainTextAuthProvider('<<CLIENT ID>>', '<<CLIENT SECRET>>')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
      print(row[0])
else:
      print("An error occurred.")

In [3]:
# we are importing cluseter from the cassandra.cluster class
# it will give the required functions and attribute so that we can make a connection to the cassandra cluster
# and from the cassandra.auth class we are importing the plaintextAuthProvider, to create a safe connection to our cluseter

from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
         'secure_connect_bundle': 'secure-connect-test-db-env.zip'
}
auth_provider = PlainTextAuthProvider('dbdveSwPtNYOOdOiFDWHUhMM', 'C,jqDYDvbOpGrahK-L3TiX55xK.hgPL+ROHQHgx.ZF1ftHDwE5BtbbyzH-ZeoK6xUkZACxSLap7BaHWdvzEeWJhKz4obb,Hu3ETfLwwdJTZxTbRKC86BoR,5ETb3cxSh')

In [4]:
# connecting to the cluster 

cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

In [5]:
# fetching internal tables from default keyspace 
result = session.execute("select release_version from system.local")

In [6]:
print(result)

<cassandra.cluster.ResultSet object at 0x00000200E91247F0>

In [7]:
row = result.one()
print(row)

Row(release_version='4.0.0.6816')

In [8]:
# row = result.all()
# print(row)

In [9]:
print(row[0])

4.0.0.6816

In [10]:
if row:
    print(row[0])
else:
    print('there is no data')

4.0.0.6816

In [11]:
# to get all the keyspaces available:-

keyspaces = session.execute('Select keyspace_name from system_schema.keyspaces')

In [12]:
for keyspace in keyspaces:
    print(keyspace[0])

system_auth
datastax_sla
system_schema
db1
data_endpoint_auth
system
system_traces

In [13]:
# creating a keyspace using python(not available in free version)
try:
    query = "create keyspace aadil_test with replication= {'class': 'SimpleStrategy','replication_factor': 1}"
    session.execute(query)
    print('keyspace created successfully')
except Exception as e:
    print("Exception occured while creating keyspace",e)

Exception occured while creating keyspace Error from server: code=2100 [Unauthorized] message="Missing correct permission on aadil_test.: Keyspace management is currently only supported at https://astra.datastax.com/org/6534f61d-17de-4c85-bf7a-493137ff4362/database/ca15f7f6-67e4-458c-bc46-b2d5b34436eb"

In [15]:
# command to alter a keyspace
try:
    query = "alter keyspace aadil_test with replication= {'class': 'SimpleStrategy','replication_factor': 3}"
    session.execute(query)
    print('keyspace altered successfully')
except Exception as e:
    print("Exception occured while creating keyspace",e)

Exception occured while creating keyspace Error from server: code=2200 [Invalid query] message="Unknown keyspace aadil_test"

In [16]:
# Command to use a keyspace
try:
    query = "use aadil_test"
    session.execute(query) 
    print("Inside the keyspace")
except Exception as err:
    print("Exception Occured while using Keyspace : ",err)

Exception Occured while using Keyspace :  Error from server: code=2200 [Invalid query] message="Keyspace 'aadil_test' does not exist"

In [17]:
# Command to use a keyspace
try:
    query = "use db1" 
    session.execute(query)
    print("Inside the keyspace")
except Exception as err:
    print("Exception Occured while using Keyspace : ",err)

Inside the keyspace

In [18]:
# creating a table inside keyspace
try:
    query = '''create table employee_data(
             emp_id int,
             emp_name varchar,
             emp_salary int,
             emp_dept varchar,
             emp_email varchar,
             emp_phone varchar,
             primary key (emp_id,emp_dept)
             )'''
    session.execute(query)
    print('table is created successfully')
except Exception as e:
    print('Exception occured while creating the table',err)

table is created successfully

In [19]:
# changing the datatype of a column
try:
    query = 'alter table employee drop emp_email'
    session.execute(query)
    print('column dropped succesfully')
except Exception as e:
    print('Exception occured while creating the table',err)

column dropped succesfully

In [22]:
try:
    query = 'alter table employee add emp_email text'
    session.execute(query)
    print('column added succesfully with new datatype') 
except Exception as e:
    print('Exception occured while creating the table',e)

column added succesfully with new datatype

In [23]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(1, 'Shashank', 10000, 'Software', 'abc.gmail.com','+91 768467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [29]:
# ? is a placeholder 

# Create a list of tuples representing the rows to be inserted
query = "INSERT INTO employee_data (emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) VALUES (?, ?, ?, ?, ?, ?)"
prepared_stmt = session.prepare(query)

data = [(1, "John Doe", 50000, "IT", "john.doe@example.com", "555-555-1212"),
        (2, "Jane Doe", 55000, "HR", "jane.doe@example.com", "555-555-1213"),
        (3, "Bob Smith", 60000, "IT", "bob.smith@example.com", "555-555-1214")]

try:
    for record in data:
        session.execute(prepared_stmt, record)
    print('Data inserted successfully')
except Exception as e:
    print("Error inserting data: ", e)

In [30]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(3, 'Sunny', 22000, 'HR', 'klm.gmail.com','+91 800067474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [31]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(4, 'Vishal', 30000, 'Software', 'mno.gmail.com','+91 600467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [32]:
# Select query on cassandra table, we will need a variable here since the query would return some value.
try:
    query = "select * from employee"
    result = session.execute(query)
    print(result) 
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

<cassandra.cluster.ResultSet object at 0x00000200ECB74B50>

In [37]:
# Select query on cassandra table
try:
    query = 'select * from employee'
    result = session.execute(query)
    for row in result:
        print(row) 
#         print(row[0],row[1])  
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)
Row(emp_id=2, emp_dept='IT', emp_email=None, emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)
Row(emp_id=4, emp_dept='Software', emp_email='mno.gmail.com', emp_name='Vishal', emp_phone='+91 600467474', emp_salary=30000)
Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)

In [40]:
try:
    query = 'select * from employee'
    result = session.execute(query)
    for row in result:
        print(f'emp_id : {row[0]}')
        print(f'emp_dept : {row[1]}')       
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

emp_id : 1
emp_dept : Software
emp_id : 2
emp_dept : IT
emp_id : 4
emp_dept : Software
emp_id : 3
emp_dept : HR

In [41]:
# simple aggregation can work in cassandra, but there is no place of joins in cassandra till now.
# Additionally, Cassandra's query language, CQL, does not support the
# use of aggregate functions (such as SUM or COUNT) within a GROUP BY clause.

In [42]:
# Write a query to get total count of employees
try:
    query = "select count(*) from employee"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(count=4)
4

# Rules for where clause - It can be used effectively with high performance for given below type of columns:- 
# 1.) we need to use Partition Key (Single or Composite) with the where clause
                   #OR
# 2.) if Cluster column  used in where clause then it should be with Partition Key
                   #OR
# 3.) A column on which we have applied the index
                   #OR
# 4.) A column which is not part of partition key or index column or clustering column then we can use where clause but we have to
# use keyword ALLOW FILTERING - it will be a super slow performance when data volume is very high

In [43]:
# where clause for Partition key only or Rule no -1

try:
    query = "select * from employee where emp_id=2"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=2, emp_dept='IT', emp_email=None, emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)

In [44]:
# where clause for Clustering key only or Rule no - 2 

try:
    query = "select * from employee where emp_dept='Software' and emp_id=1"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [45]:
try:
    query = "select * from employee where emp_id=1 and emp_dept='Software'"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [ ]:
# suppose We have another composite partition key with a clustering key
# we need to keep the partition key saath saath mai..

priamry key ( (employeeid, fname) , dept )

select * from employee where employeeid = 'x' and dept = 'software' and fname = 'shashank'  # Wrong query

select * from employee where dept = 'software' and employeeid = 'x' and fname = 'shashank'   # Correct query

In [46]:
# rule no.:- 04
try:
    query = "select * from employee where emp_name='Shashank' ALLOW FILTERING"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [47]:
# rule no. 03 
# Create table with index
#  "on_age" is the name given to the index on table users col- age.
    
session.execute("""
CREATE TABLE IF NOT EXISTS users (
user_id int PRIMARY KEY,
name text,
age int,
gender text
)
""")

# Creating index on age column
session.execute("CREATE INDEX IF NOT EXISTS on_age ON users (age)")

# Inserting data into the table
session.execute("INSERT INTO users (user_id, name, age, gender) VALUES (1, 'John Doe', 35, 'male')")
session.execute("INSERT INTO users (user_id, name, age, gender) VALUES (2, 'Jane Doe', 25, 'female')")
session.execute("INSERT INTO users (user_id, name, age, gender) VALUES (3, 'Bob Smith', 45, 'male')")

# Retrieving data using WHERE clause on indexed column
results = session.execute("SELECT * FROM users WHERE age > 30")
for row in results:
    print(row)

Row(user_id=1, age=35, gender='male', name='John Doe')
Row(user_id=3, age=45, gender='male', name='Bob Smith')

# Group by in cassandra  -  Allowed for all columns which are part of Primary Key
# Follow given below rules
# Rule - 1 : Use only partition key(single or composite) in the group by
              #OR
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key

In [48]:
# Rule -1, single primary key:-->
try:
    query = "select emp_id, sum(emp_salary) as sum_salary from employee group by emp_id"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, sum_salary=10000)

In [54]:
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, emp_dept, sum(emp_salary) as sum_salary from employee group by emp_id, emp_dept"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', sum_salary=10000)

In [64]:
from cassandra.query import SimpleStatement

session.execute("""
CREATE TABLE IF NOT EXISTS mytable (
    id int PRIMARY KEY,
    name text,
    value int
);
""")

what is BoundStatement from the PreparedStatement and binding parameters. explain this in very simple terms in cassandra?

In Cassandra, a PreparedStatement is a pre-compiled and stored SQL query that can be executed multiple times with different parameter values. A BoundStatement is an instance of a PreparedStatement that is created by binding values to its parameters. This process of binding values to a PreparedStatement creates a BoundStatement that can be executed, improving performance compared to executing a new statement each time. Simply put, a BoundStatement is a ready-to-execute version of a PreparedStatement with specific values filled in.

In [63]:
# write using consistency level quorum
from cassandra import ConsistencyLevel
from cassandra.query import SimpleStatement

query = SimpleStatement(
    "INSERT INTO mytable (id,name, value) VALUES (%s, %s,%s)", 
    consistency_level=ConsistencyLevel.QUORUM)
session.execute(query, (1,'John', 42))

In [68]:
# read using consistency level quorum
query = SimpleStatement("SELECT * FROM mytable", consistency_level=ConsistencyLevel.QUORUM)
a = session.execute(query) 
print(a.one())

Row(id=1, name='John', value=42)

In [82]:
# so in the above way we were setting the consistency 1 by 1, to set the consistency at once for default:-
#PreparedStatement 

user_lookup_stmt = session.prepare("SELECT * FROM users WHERE user_id=?")
user_lookup_stmt.consistency_level = ConsistencyLevel.QUORUM

# these will both use QUORUM
user1 = session.execute(user_lookup_stmt, [1])[0]
user2 = session.execute(user_lookup_stmt, [2])[0]

In [71]:
user1

Row(user_id=1, age=35, gender='male', name='John Doe')

In [72]:
user2

Row(user_id=1, age=35, gender='male', name='John Doe')

In [80]:
result = session.execute("SELECT * FROM users")

In [81]:
for i in result:
    print(i)

Row(user_id=1, age=35, gender='male', name='John Doe')
Row(user_id=2, age=25, gender='female', name='Jane Doe')
Row(user_id=3, age=45, gender='male', name='Bob Smith')

In [ ]:
# Bind Parameters

In [90]:
# now override the QUORUM default
user3_lookup = user_lookup_stmt.bind([3]) 
user3_lookup.consistency_level = ConsistencyLevel.ALL
user3 = session.execute(user3_lookup, [3])[0]

In [91]:
user3

Row(user_id=3, age=45, gender='male', name='Bob Smith')

In [92]:
# to read more about consistency code in python(bind parameters,prepared statements, speculative execution policy):-

# https://docs.datastax.com/en/developer/python-driver/3.23/getting_startead/

# speculative execution policy:-
Speculative execution is a way to minimize latency by preemptively executing several instances of the same query against different nodes.

peculative execution is a performance optimization technique used in database systems such as Cassandra, where multiple identical requests to the same resource are executed concurrently. The first request to complete is used, while the others are discarded. This is done in order to reduce the latency of a query by starting execution before the previous query has completed. This technique can be especially useful in large-scale systems where a single query can take a long time to complete due to the large amount of data that needs to be processed. By executing multiple requests in parallel, speculative execution aims to reduce the time it takes to complete a query and improve overall system performance.


Imagine you are searching for a specific book in a library with a large collection. Normally, you would ask the librarian where the book is located, and they would go and check for you. But with speculative execution, instead of waiting for the librarian to come back with the answer, you ask multiple librarians at the same time. The first librarian to find the book returns with the answer and you use it, while the others are ignored. This way, you get the answer faster, instead of having to wait for one librarian to search the entire library.

# idempotent:-
Mark your query as idempotent, which mean it can be applied multiple times without changing the result of the initial application.
hum query ko ko idempotent banayenge, matlab ki hum ek chiz baar baar bhej rhe hai , toh jo sab se pehle mile usko accept kar lena baar baar change mt hona.

In a distributed database like Cassandra, data is spread across multiple nodes. Sometimes a node may be slow or unresponsive, which can delay a query or command. To prevent this, Cassandra uses a feature called "speculative execution" where multiple copies of a query are sent to different nodes at the same time.

Idempotent in this context means that no matter how many times the query is executed, the final result will be the same. This is important because it ensures that if multiple copies of the same query are executed, the result will not be affected, which improves the consistency and reliability of the system.

In [96]:
# it may work slow in our free version
from cassandra.cluster import Cluster, ExecutionProfile, EXEC_PROFILE_DEFAULT
from cassandra.policies import ConstantSpeculativeExecutionPolicy
from cassandra.query import SimpleStatement

# Configure the speculative execution policy
ep = ExecutionProfile(
    speculative_execution_policy=ConstantSpeculativeExecutionPolicy(delay=.5, max_attempts=10)
)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider, execution_profiles={EXEC_PROFILE_DEFAULT: ep})
session = cluster.connect()

# Mark the query idempotent
query = SimpleStatement(
    "UPDATE db1.users SET  age = 54 WHERE user_id = 3",
    is_idempotent=True
) 

# Execute. A new query will be sent to the server every 0.5 second
# until we receive a response, for a max number attempts of 10.
session.execute(query)

In [99]:
result = session.execute("SELECT * FROM db1.users")

In [101]:
for i in result:
    print(i)

Row(user_id=1, age=35, gender='male', name='John Doe')
Row(user_id=2, age=25, gender='female', name='Jane Doe')
Row(user_id=3, age=54, gender='male', name='Bob Smith')

ques. when should we use  speculative_execution_policy in cassandra
Ans. Speculative execution policy should be used in Cassandra when you want to run multiple, parallel requests to the same node, with the expectation that the first successful response will be used. This policy can be useful in increasing the speed of query execution, especially in scenarios where a single node may be experiencing high latency.

ques. do we need to  specify the node name also with the speculative execution or the primary key is enough to find our nodes?
Ans. The speculative execution policy in Cassandra operates on a per-node basis, rather than a per-key basis. So, specifying the node name is not necessary. Instead, you can specify the number of parallel requests to make to the same node, and the threshold for considering a response as a successful one. The policy will then automatically choose the nodes to run the parallel requests on. The primary key is used to determine the node(s) responsible for storing the data, and the speculative execution policy is used to determine how the queries are executed on those nodes.